<p-dialog header="แชทกลุ่ม" [(visible)]="isShowModal" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false"
  [resizable]="false">
  <div class="card bg-indigo-100 w-3"></div>
  <ng-template pTemplate="footer">
    <div class="flex">
      <input formControlName="username" id="email1" type="text" placeholder="Type something..." pInputText
        class="w-full" />
      <p-button icon="pi pi-send" (click)="visible = false" label="Send" styleClass="p-button-text"></p-button>
    </div>
  </ng-template>
</p-dialog>