<div class="card">
  <div class="flex justify-content-end">
    <p-button label="เพิ่มงานวิ่ง" (click)="onShowAdd()"></p-button>
  </div>
  <div class="grid mt-3">
    <div *ngFor="let org of organizes" class="col-12 lg:col-6 xl:col-3">
      <div class="card mb-0">
        <div class="flex justify-content-between mb-3">
          <div class="cursor-pointer" (click)="onShowDetail(org)">
            <div class="text-900 font-medium text-xl">{{ org.name }}</div>
            <span class="block text-500 font-medium my-1"><i class="pi pi-money-bill mr-2"></i>{{ org.fee | number }} บาท</span>
            <span class="block text-500 font-medium my-1"><i class="pi pi-calendar mr-2"></i>{{ org.startDate | date: 'short' }}</span>
            <span class="block text-500 font-medium my-1"><i class="pi pi-users mr-2"></i>จำนวน {{ org.capability | number }} คน</span>
          </div>
          <div class="flex align-items-center justify-content-center bg-blue-100 border-round cursor-pointer" [ngStyle]="{ width: '2.5rem', height: '2.5rem' }" (click)="gotoMap(org)">
            <i class="pi pi-map-marker text-blue-500 text-xl"></i>
          </div>
        </div>
        <span class="text-500 font-medium mr-2">รับ</span>
        <span class="text-green-500 font-medium">{{ org.reward }}</span>
      </div>
    </div>
  </div>
</div>

<app-organize-edit></app-organize-edit>
