<div class="card w-5 m-auto">
  <span class="text-2xl">ข้อมูลส่วนตัว</span>
  <form [formGroup]="profileForm" class="p-fluid mt-3" (ngSubmit)="onSubmit()">
    <div class="field">
      <label htmlFor="firstName">ชื่อ</label>
      <input pInputText id="firstName" type="text" formControlName="firstName" />
    </div>
    <div class="field">
      <label htmlFor="lastName">นามสกุล</label>
      <input pInputText id="lastName" type="text" formControlName="lastName" />
    </div>
    <div class="field">
      <label htmlFor="birthDate">วันเดือนปีเกิด</label>
      <p-calendar [inputId]="'birthDate'" appendTo="body" formControlName="birthDate"></p-calendar>
    </div>
    <div class="field">
      <label htmlFor="gender">เพศ</label>
      <p-dropdown [inputId]="'gender'" [options]="genders" showClear="true" placeholder="Select gender" formControlName="gender" styleClass="mb-5" inputStyleClass="w-full p-3 md:w-30rem"></p-dropdown>
    </div>
    <div class="field">
      <label htmlFor="address">ที่อยู่</label>
      <input pInputText id="address" type="text" formControlName="address" />
    </div>
    <div class="field">
      <label htmlFor="phone">เบอร์โทร</label>
      <input pInputText id="phone" type="text" formControlName="phone" />
    </div>
    <div class="field">
      <label htmlFor="email">email</label>
      <input pInputText id="email" type="text" formControlName="email" />
    </div>
    <div class="field">
      <label htmlFor="foodAllergies">อาหารที่แพ้</label>
      <input pInputText id="foodAllergies" type="text" formControlName="foodAllergies" />
    </div>
    <div class="field">
      <label htmlFor="disease">โรคประจำตัว</label>
      <input pInputText id="disease" type="text" formControlName="disease" />
    </div>
    <div class="field">
      <label htmlFor="userType">user type</label>
      <input pInputText id="userType" type="text" formControlName="type" />
    </div>
    <p-button type="submit" [loading]="loading" label="อัพเดท"></p-button>
  </form>
</div>
